.services {
  padding: var(--space-section) var(--content-padding) 0;
}

.servicesGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space);
  max-width: var(--max-width);
  margin: 0 auto;
}

@media (max-width: 767px) {
  .servicesGrid {
    grid-template-columns: 1fr;
    gap: var(--space);
  }
}
