.services {
  padding: calc(var(--space-section) * 2) var(--content-padding)
    var(--space-section);
}

.servicesGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-section);
  max-width: var(--max-width);
  margin: 0 auto;
}

@media (max-width: 767px) {
  .servicesGrid {
    grid-template-columns: 1fr;
    gap: var(--space-section);
  }
}
