.link {
  font-size: var(--fs-body);
  letter-spacing: var(--ls-tight);
  display: inline-block;
  padding: var(--button-padding-y) var(--button-padding-x);
  border: var(--border-thin) solid currentColor;
  color: var(--color-text);
  transition:
    background-color var(--transition-fast),
    color var(--transition-fast);
}

.link:hover {
  background-color: var(--color-text);
  color: var(--color-bg);
}
